<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <title>Atributos</title>
    </head>
    <body>
        <div class = "container">        
            <h1>Veamos los atributos personales</h1>
            <ul class="list-group">
                <li v-for="(value, key, index) in atributos" class="list-group-item">
                    {{index}}: key = {{value}}
                </li>
            </ul>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '.container',
            data: {
                atributos:
                    {
                        nombre: 'Marisol',
                        altura: "1.54 m",
                        peso: "54 kg",
                        colorDeOjos: 'marrones',
                        comidaFavorita: 'Pollo a la brasa'

                    }
                    
            }
        })
    </script>
</html>